<main class="px-6 py-8" style="background: radial-gradient(circle at right, #b0dba6 , #d0c3e6)">
  <div class="container mx-auto">
    <section class="flex flex-wrap py-20 xl:py-36">
      <div class="w-full md:w-1/2 p-10 flex flex-col">
        <h1 class="text-4xl md:text-6xl font-bold leading-tight mb-10 font-serif drop-shadow-xl text-gray-800">Plan your next sprint with PointPoker</h1>
        <p class="text-gray-600 md:text-xl mb-10">
          PointPoker is an online tool for agile teams to estimate the effort required to complete a task.
        </p>
        <button class="justify-self-end self-center w-1/2 middle none center rounded-lg bg-pink-500 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none" data-ripple-light="true">
          Get Started
        </button>
      </div>
      <div class="w-full md:w-1/2 hidden md:block">
        <img src="<%= asset_url('hero.png') %>" alt="PointPoker Screenshot" class="rounded-lg shadow-md" />
      </div>
    </section>
    <section class="bg-white px-8 py-10 md:p-20 mb-20 shadow-xl">
      <div class="container mx-auto px-6">
        <h2 class="text-3xl md:text-5xl font-bold mb-10 font-serif drop-shadow-lg">Why Choose PointPoker.dev?</h2>
        <div class="flex flex-col md:flex-row gap-5 text-sm text-center">
          <div class="rounded shadow py-10 px-5 md:w-1/5">
            <i class="fa-regular fa-stopwatch text-8xl mb-5"></i>
            <h3 class="font-bold text-base mb-2">Real-time Collaboration</h3>
            <span class="text-gray-600">Host sessions with your team, no matter where they are.</span>
          </div>
          <div class="rounded shadow py-10 px-5 md:w-1/5">
            <i class="fa-regular fa-user-check text-8xl mb-5"></i>
            <h3 class="font-bold text-base mb-2">User-friendly Interface</h3>
            <span class="text-gray-600">Intuitive and easy to use, even for those new to Planning Poker.</span>
          </div>
          <div class="rounded shadow py-10 px-5 md:w-1/5">
            <i class="fa-regular fa-cards text-8xl mb-5"></i>
            <h3 class="font-bold text-base mb-2">Customizable Card Sets</h3>
            <span class="text-gray-600">Choose from Fibonacci, T-shirt sizes, or create your own.</span>
          </div>
          <div class="rounded shadow py-10 px-5 md:w-1/5">
            <i class="fa-regular fa-clock-rotate-left text-8xl mb-5"></i>
            <h3 class="font-bold text-base mb-2">Session History</h3>
            <span class="text-gray-600">Review past sessions to refine future estimates.</span>
          </div>
          <div class="rounded shadow py-10 px-5 md:w-1/5">
            <i class="fa-regular fa-shield-check text-8xl mb-5"></i>
            <h3 class="font-bold text-base mb-2">Secure &amp; Private</h3>
            <span class="text-gray-600">Your data is encrypted and never shared.</span>
          </div>
        </div>
      </div>
    </section>
    <section class="bg-white px-8 py-10 md:p-20 mb-20 shadow-xl">
      <div class="container mx-auto px-6">
        <h2 class="text-3xl md:text-5xl font-bold mb-10 font-serif drop-shadow-lg">How It Works</h2>
        <div class="flex flex-col md:flex-row gap-5">
          <img src="<%= asset_url('how-it-works.png') %>" alt="How it works" class="w-80" />
          <ol class="text-gray-700 text-xl mb-8 list-decimal list-inside flex flex-col gap-5">
            <li class="p-4 rounded shadow">
              <span class="font-bold">Create a Session:</span> Start a new session and invite your team.
            </li>
            <li class="p-4 rounded shadow">
              <span class="font-bold">Estimate Together:</span> Each member selects a card to represent their estimate.
            </li>
            <li class="p-4 rounded shadow">
              <span class="font-bold">Reveal &amp; Discuss:</span> Once everyone has chosen, cards are revealed. Discuss variances and converge on an estimate.
            </li>
            <li class="p-4 rounded shadow">
              <span class="font-bold">Move Forward:</span> With a consensus reached, move on to the next item or end the session.
            </li>
          </ol>
        </div>
      </div>
    </section>
    <section class="bg-white px-8 py-10 md:p-20 md:mb-20 shadow-xl">
      <div class="container mx-auto px-6">
        <h2 class="text-3xl md:text-5xl font-bold mb-2 font-serif drop-shadow-lg">Benefits of Planning Poker</h2>
        <p class="text-gray-700 text-xl mb-8">
          <ul class="flex flex-col md:flex-row gap-10">
            <li class="p-10 rounded shadow text-center text-gray-700">
              <img src="<%= asset_url('team-collaboration.png') %>" alt="Team Collaboration" class="" />
              <h3 class="font-bold font-serif text-xl text-gray-900 py-4">Promotes Team Collaboration</h3>
              Everyone has a voice in the estimation process.
            </li>
            <li class="p-10 rounded shadow text-center">
              <img src="<%= asset_url('biased.png') %>" alt="Reduced Bias" class="" />
              <h3 class="font-bold font-serif text-xl text-gray-900 py-4">Reduces Bias</h3>
              By keeping estimates hidden until all cards are revealed, it prevents anchoring.
            </li>
            <li class="p-10 rounded shadow text-center">
              <img src="<%= asset_url('accuracy.png') %>" alt="Reduced Bias" class="" />
              <h3 class="font-bold font-serif text-xl text-gray-900 py-4">Improves Accuracy</h3>
              Discussing differing opinions helps the team arrive at a more accurate estimate.
            </li>
          </ul>
        </p>
      </div>
    </section>
    <section class="py-20">
      <div class="container mx-auto px-6 text-center">
        <h2 class="text-7xl font-bold mb-4 font-serif drop-shadow-lg">Get Started Today!</h2>
        <p class="text-gray-700 text-xl mb-8">
          Ready to revolutionize your estimation sessions?<br/>
          Sign up now and make PointPoker.dev your team's go-to tool for Agile estimation.
        </p>
        <button class="middle none center rounded-lg bg-pink-500 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none" data-ripple-light="true"">
          Learn More
        </button>
      </div>
    </section>
  </div>
</main>
