<!DOCTYPE html>
<html>
  <head>
    <title>Pointpoker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Artifika">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/c84acf9ceb.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <main>
      <%= render('header') %>
      <%= yield %>
      <%= render('footer') %>
    </main>
  </body>
</html>
